html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("../img/trendingBack.jpg") !important;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    margin-bottom: 0;
  }
  
  .mt-4 {
    margin-top: 1.5rem!important;
  }
  .curtain {
    background-color: rgba(0, 0, 0, 0.37);
    flex: 1;
    flex-shrink: 0;
  }
  
  
  h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333333;
  }
  .darkness {
    background-color: #0000009d;
    border-radius: 100px;
  }
  .social-media-boxes {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the icons to the right */
    margin-right: 10px; /* Adds a small margin to the left side of the icons */
    margin-top: 0 !important;
  }
  
  .social-media-boxes .box {
    margin-right: 10px; /* Adds spacing between the social media icons */
  }
  .box {
    padding: 0 15px;
    border-radius: 10px;
    text-align: center;
    width: 50px;
  }
  
  .box img {
    width: 40px;
    margin-bottom: 10px;
  }
  
#anime-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: zoomIn 0.5s ease-in-out;
  }
  
  /* Title styles */
  .anime-title {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  /* Anime cover image styles */
  .anime-cover-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Details container styles */
  .anime-details-container {
    margin-top: 20px;
  }
  
  /* Details item styles */
  .anime-details-item {
    margin-bottom: 10px;
  }
  
  .anime-details-item p {
    margin: 5px 0;
  }
  
  
  .youtube-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: 20px;
  }
  
  .youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .button1-container {
    text-align: center;
  }
  
  .button1 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ff6f69;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button1:hover {
    background-color: #ff3b3f;
  }
  @keyframes zoomIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .button {
    border: none;
    font-size: 17px;
    padding: 1em 2em;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 1;
    background: #caf0f8;
    font-weight: bold;;
    border-radius: 8px;
    box-shadow: 2px 2px 0 #333,
               2px 2px 200px #ffba08 inset;
    color: #000000;
  }
  
  .button:active {
    transform: scale(.98);
  }
  
  .button:hover {
    box-shadow: 2px 2px 0 #333,
               2px 2px 200px #003566 inset;
  }
  
  .button::before {
    content: '';
    position: absolute;
    left: -41%;
    width: 150%;
    height: 300%;
    border-radius: 50%;
    box-shadow: 2px 2px 0 #333,
               0 0 0 8px #d00000 inset,
               0 0 0 16px #dc2f02 inset,
               0 0 0 24px #e85d04 inset,
               0 0 0 32px #f48c06 inset,
               0 0 0 40px #faa307 inset;
    z-index: -1;
    transition: .2s;
  }
  
  .button:active::before {
    opacity: .001;
    box-shadow: 2px 2px 200px #03045e inset;
  }
  
  .button:hover::before {
    box-shadow: 2px 2px 0 #333,
               0 0 0 8px #90e0ef inset,
               0 0 0 16px #48cae4 inset,
               0 0 0 24px #00b4d8 inset,
               0 0 0 32px #0096c7 inset,
               0 0 0 40px #0077b6 inset;
    left: -9%;
    width: 150%;
    height: 300%;
  }
  #top {
    color: rgb(248, 201, 12);
    font-weight: bold;
    font-family: 'Sedgwick Ave Display', cursive !important;
    font-size: auto;
  }
  footer {
    background-color: #222;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  
  footer p {
    color: #eee;
    font-size: 16px;
    width: 60%;
    margin: 0;
  }
  
  footer a{
    color: #eee;
    font-size: 14px;
    font-weight: 900;
  }
  
  footer a:hover{
    color: #ff0000;
  }
  