body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("../img/homeBackground1.jpg") !important;
  color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile{
  display: none;
}
.desktop{
  display: block;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.social-media-boxes {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the icons to the right */
  margin-right: 10px; /* Adds a small margin to the left side of the icons */
  margin-top: 0 !important;
}

.social-media-boxes .box {
  margin-right: 10px; /* Adds spacing between the social media icons */
}

.button {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

/* Logo */
.logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo img {
  width: 300px;
}

.logo h1{
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: bold;
  color: #f3ef04;
  background-color: #000000;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

/* Main Content */
.content {
  padding-top: 0;
  text-align: center;
  margin-bottom: 100px;
}

.social-media-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-media {
  font-size: 15px;
  margin-top: 10px;
}

.box {
  padding: 0 15px;
  border-radius: 10px;
  text-align: center;
  width: 50px;
}

.box img {
  width: 40px; /* Adjust the width as needed */
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #222;
  text-align: center;
  padding: 20px;
  width: 100%;
  z-index: 100;
  margin-top: auto;
  flex-shrink: 0;
  margin-top: 10px;
}

footer p {
  color: #eee;
  font-size: 16px;
  margin: 0 auto;
  max-width: 60%;
}

footer a {
  color: #eee;
  font-size: 14px;
  font-weight: 900;
}

footer a:hover {
  color: #ff0000;
}


.picture-container {
  text-align: center;

  background-color: #0000009a;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;

  width: 30%;
  height: 600px;

}

.picture-container p {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: bold;
  color: #f3ef04;
  background-color: #000000;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.quote img {
  width: 70%;
  max-width: 400px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}


.picture-container img {
  transition: transform 0.3s ease-in-out;
}

.quote img:hover {
  transform: scale(1.3);
}

.picture-container img:hover {
  transform: scale(1.1);
}






.button1 {
  border: none;
  font-size: 17px;
  padding: 1em 2em;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
  background: #caf0f8;
  border-radius: 8px;
  box-shadow: 2px 2px 0 #333, 2px 2px 200px #ffba08 inset;
  color: #000000;
}

.button1:active {
  transform: scale(.98);
}

.button1:hover {
  box-shadow: 2px 2px 0 #333, 2px 2px 200px #003566 inset;
}

.button1::before {
  content: '';
  position: absolute;
  left: -41%;
  width: 150%;
  height: 300%;
  border-radius: 50%;
  box-shadow: 2px 2px 0 #333, 0 0 0 8px #d00000 inset, 0 0 0 16px #dc2f02 inset, 0 0 0 24px #e85d04 inset, 0 0 0 32px #f48c06 inset, 0 0 0 40px #faa307 inset;
  z-index: -1;
  transition: .2s;
}

.button1:active::before {
  opacity: .001;
  box-shadow: 2px 2px 200px #03045e inset;
}

.button1:hover::before {
  box-shadow: 2px 2px 0 #333, 0 0 0 8px #90e0ef inset, 0 0 0 16px #48cae4 inset, 0 0 0 24px #00b4d8 inset, 0 0 0 32px #0096c7 inset, 0 0 0 40px #0077b6 inset;
  left: -9%;
  width: 150%;
  height: 300%;
}




.chadvid {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 0 50px;
}



.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.centaur {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000009a;
  margin-bottom: 150px;
}

#trendingHome h4{
  color: white;
  height: 50px;
}

#trendingHome img{
  width: 250px;
  height: 370px;
}

#animeList h4{
  color: white;
  height: 50px;
  font-size: 20px;
}

#animeList img{
  width: 250px;
  height: 370px;
}

#anime_list h2{
  color: white;
  height: 50px;
  font-size: 20px;
}

#anime_list img{
  width: 250px;
  height: 370px;
}

#anime-list h4{
  color: white;
  height: 50px;
  font-size: 20px;
}

#anime-list img{
  width: 250px;
  height: 370px;
}



.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade.show {
  opacity: 1;
}




/* Responsive Styles */

@media (max-width: 1258px) {
  .chadvid {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 0;
  }
  .centaur {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009a;
    margin-bottom: 0;
  }

  .picture-container {
    text-align: center;
  
    background-color: #0000009a;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
  
    width: 80%;
    height: 600px;
  }
}



@media (max-width: 1258px) {
  body {
    background-image: url("../img/backgroundPhone.jpg") !important;
    min-height: 100vh;
  }
  .picture-container img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 200px;
  }

  .content {
    padding-top: 120px;
  }

  .social-media-boxes {
    margin-top: 20px;
  }

  .box {
    width: 150px;
  }

  footer p {
    width: 80%;
    font-size: 10px;
  }
  footer a {
    font-size: 10px;
  }
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  
}

@media screen and (max-width: 600px) {
  .picture-container {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 1;

  }
  
  .picture-container p {
    font-size: 20px;
  }
  
  .picture-container img {
    width: 90%;
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 576px) {
  .logo img {
    width: 150px;
  }

  .content {
    padding-top: 80px;
  }

  .social-media-boxes {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 120px;
    margin-bottom: 10px;
  }

  footer p {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .logo img {
    width: 150px;
  }

  .content {
    padding-top: 80px;
  }

  .social-media-boxes {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 120px;
    margin-bottom: 10px;
  }

  footer p {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .picture-container {
    text-align: center;
  
    background-color: #0000009a;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 600px;
  }
  #trendingHome h4{
    color: white;
    height: 40px;
  }
  
  #trendingHome img{
    width: auto;
    height: 300px;
  }
  #animeList h4{
    color: white;
    height: 40px;
    font-size: 20px;
  }
  
  #animeList img{
    width: auto;
    height: 300px;
  }
  
  #anime-list h4{
    color: white;
    height: 40px;
    font-size: 20px;
  }
  
  #anime-list img{
    width: auto;
    height: 300px;
  }

  #anime_list h2{
    color: white;
    height: 40px;
    font-size: 20px;
  }
  
  #anime_list img{
    width: auto;
    height: 300px;
  }
}






