body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-image: url("../img/mangaBack.png") !important;
    color: white;
  }
  
  .curtain {
    background-color: rgba(0, 0, 0, 0.37);
  }
  h1 {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .darkness {
    background-color: #0000009d;
    border-radius: 100px;
  }
  .social-media-boxes {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the icons to the right */
    margin-right: 10px; /* Adds a small margin to the left side of the icons */
    margin-top: 0 !important;
  }
  
  .social-media-boxes .box {
    margin-right: 10px; /* Adds spacing between the social media icons */
  }
  .box {
    padding: 0 15px;
    border-radius: 10px;
    text-align: center;
    width: 50px;
  }
  
  .box img {
    width: 40px;
    margin-bottom: 10px;
  }
  
  #mangaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .mangaItem {
    width: 350px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #282828;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mangaItem:hover {
    transform: scale(1.1);
    background-color: #636363;
  }
  
  .mangaItem img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .mangaItem p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #fffefe;
  }

  .button {
    border: none;
    font-size: 17px;
    padding: 1em 2em;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
    background: #caf0f8;
    border-radius: 8px;
    box-shadow: 2px 2px 0 #333, 2px 2px 200px #ffba08 inset;
    color: #000000;
  }
  
  .button:active {
    transform: scale(.98);
  }
  
  .button:hover {
    box-shadow: 2px 2px 0 #333, 2px 2px 200px #003566 inset;
  }
  
  .button::before {
    content: '';
    position: absolute;
    left: -41%;
    width: 150%;
    height: 300%;
    border-radius: 50%;
    box-shadow: 2px 2px 0 #333, 0 0 0 8px #d00000 inset, 0 0 0 16px #dc2f02 inset, 0 0 0 24px #e85d04 inset, 0 0 0 32px #f48c06 inset, 0 0 0 40px #faa307 inset;
    z-index: -1;
    transition: .2s;
  }
  
  .button:active::before {
    opacity: .001;
    box-shadow: 2px 2px 200px #03045e inset;
  }
  
  .button:hover::before {
    box-shadow: 2px 2px 0 #333, 0 0 0 8px #90e0ef inset, 0 0 0 16px #48cae4 inset, 0 0 0 24px #00b4d8 inset, 0 0 0 32px #0096c7 inset, 0 0 0 40px #0077b6 inset;
    left: -9%;
    width: 150%;
    height: 300%;
  }
  #top {
    color: rgb(248, 201, 12);
    font-weight: bold;
    font-family: 'Sedgwick Ave Display', cursive !important;
    font-size: auto;
  }
  footer {
    background-color: #222;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  
  footer p {
    color: #eee;
    font-size: 16px;
    width: 60%;
    margin: 0;
  }
  
  footer a{
    color: #eee;
    font-size: 14px;
    font-weight: 900;
  }
  
  footer a:hover{
    color: #ff0000;
  }

  @media (max-width: 768px) {
    #mangaList {
      justify-content: flex-start;
    }
  
    .mangaItem {
      width: 100%;
    }
  }